set -o errexit
set -o nounset

echo ---
export CI_COMMIT_MESSAGE="$(git log -1 --pretty=format:%B | tr -d '\n')"
echo CI_COMMIT_MESSAGE="${CI_COMMIT_MESSAGE}"
export CI_DEFAULT_BRANCH="main"
echo CI_DEFAULT_BRANCH="${CI_DEFAULT_BRANCH}"

echo Setting git hooksPath to .githooks
chmod +x .githooks/pre-push
git config core.hooksPath .githooks

echo Setting git commit.template to .git-commit-template
git config commit.template .git-commit-template

if test -e .envrc.config; then
  echo ---
  echo Sourcing .envrc.config
  source .envrc.config
fi

export PATH="${PATH}:${HOME}/.bin"
