{
  "parser": "@typescript-eslint/parser",
  "globals": {
    "theme": "readonly"
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".astro"]
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:astro/recommended",
    "prettier",
    "plugin:mdx/recommended",
    "plugin:astro/recommended"

  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      }
    },
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser"
    }
  ]
}
