:root {
  --primary: #121210;
  --secondary: #202125;
  --alternative: #33807e;
  --neutral: #0a4f60;
  --contrast: #ffffff;
  --text-color: #f0f0f0;
  --text-color-low-contrast: #a5d5df;
  --code-background: #282c34;

  background-image: linear-gradient(
    45deg,
    var(--primary),
    var(--secondary),
    var(--neutral)
  );
  background-size: 300% 300%;
  color: var(--text-color);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  height: 100%;

  line-height: 1.5;
}

[data-theme="light"] {
  --primary: #eef7ff;
  --secondary: #cde8e5;
  --neutral: #7ab2b2;
  --contrast: #4d869c;
  --text-color: #1d2d50;
  --code-background: #f0f0f0;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #eef7ff;
    --secondary: #cde8e5;
    --neutral: #7ab2b2;
    --contrast: #4d869c;
    --text-color: #1d2d50;
    --code-background: #f0f0f0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
