:root {
  --primary: #1d2433;
  --secondary: #202125;
  --neutral: #6679a4;
  --contrast: #d23a3a;
  --text-color: #d7dce2;
  --text-color-low-contrast: #8695b7;
  --code-background: #2f3b54;

  --max-width: 720px;

  color: var(--text-color);
  background-color: var(--primary);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  height: 100%;

  line-height: 1.5;

  .astro-code {
    overflow-x: unset !important;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--code-background) !important;
  }

  a {
    color: var(--contrast);
    text-decoration: none;
  }

  a:visited {
    color: var(--contrast);
  }
}

[data-theme="light"] {
  --primary: #ffffff;
  --secondary: #ccd2d9;
  --neutral: #dce0e8;
  --contrast: #af63f7;
  --text-color: #000000;
  --code-background: #eff1f5;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #eef7ff;
    --secondary: #cde8e5;
    --neutral: #7ab2b2;
    --contrast: #4d869c;
    --text-color: #1d2d50;
    --code-background: #f0f0f0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

blockquote {
  margin: 0;
  padding: 0;
  border-left: 4px solid var(--contrast);
  padding-left: 1rem;
  color: var(--text-color-low-contrast);
}

@media screen and (min-width: 720px) {
  body {
    align-items: center;
  }
}
