---
import Base from "layouts/Base.astro";
---

<Base title="Not Found" description="Not Found Yeison Liscano">
  <div>
    <h1>404</h1>
    <p><strong>Uh-oh!</strong></p>
    <p>We can't find that page.</p>
    <a href="/portfolio/"> Go Back Home </a>
  </div>
</Base>

<style>
  body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;
  }
  a {
    color: var(--text-color);
    background-color: var(--neutral);
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
  }
</style>
