---
import BaseLayout from "layouts/Base.astro";
---

<BaseLayout title="About | Yeison Liscano" description="About Yeison Liscano">
  <h1>About Me</h1>
  <section>
    <p>
      I am a passionate software engineer dedicated to innovation in web
      development and solving complex technological challenges. With expertise
      spanning full-stack development, data science, machine learning, and cloud
      services, I leverage technologies like
      <strong>React</strong>, <strong>Node.js</strong>, <strong>Python</strong>, <strong
        >GraphQL</strong
      >,
      <strong>AWS</strong>, and <strong>Azure</strong> to deliver robust and scalable
      solutions
    </p>
  </section>
  <main>
    <section class="tow-cols">
      <h2 class="section-title">Background</h2>
      <div class="content">
        <p>
          I study <strong>computer science</strong> at the Universidad Nacional de
          Colombia. After having learning programming with Python, I deep into data
          science on Coursera, on the same platform I learned web fundamentals. I
          got <strong>certified as Full-Stack Developer</strong> from Coding Dojo,
          where I learned to build web applications using the Python, and the basics
          of Machine and Deep learning. I keep learning at LinkedIn Learning, where
          I learned more about Neural Networks, programming concepts, and the basics
          of computers and AWS. Now I not only study at the university but also I
          continue learning at Coursera and Platzi. By the way at Platzi I learn
          about React, Node.js, Typescript, FastAPI, and Azure (I got a certificate
          of Azure Fundamentals).
        </p>
        <br />
        <p>
          I live in Medellin. My native language is <strong>Spanish</strong>.
          Thanks to having studied at the university and the Colombo Americano I
          have a <strong>B2 level in English</strong>. And I got a <strong
            >B1 French certification</strong
          > from the Alianza Francesa of Medellin.
        </p>
      </div>
    </section>
    <section class="tow-cols">
      <h2 class="section-title">Education</h2>
      <div class="content">
        <p><strong>Computer Science - 2024-Present</strong></p>
        <p>National University of Colombia - Medellin</p>
      </div>
      <div class="content mt">
        <strong>Full-Stack Developer - 2022-2023</strong>
        <p>Coding Dojo - Virtually</p>
      </div>
    </section>
    <section class="tow-cols">
      <h2 class="section-title">Skills</h2>
      <div class="content">
        <p>
          React | Typescript | JavaScript | Astro | Python | Django | Flask |
          AWS | Gatsby | Graphql | Node.js
        </p>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .mt {
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) {
    section {
      margin-bottom: 30px;
    }
    .tow-cols {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    .section-title {
      grid-column: 1 / 3;
    }

    .content {
      grid-column: 4 / 13;
    }
  }
</style>
