---
import BaseLayout from "layouts/Base.astro";
import { Code } from "astro:components";

const contactInfo = `{
  name: "Yeison Liscano",
  github: "https://github.com/YeisonAndreyLiCe",
  linkedin: "https://www.linkedin.com/in/yeison-andrey-lice/",
  email: "no available",
  phone: "no available",
  twitter: "no available"
}`;
---

<BaseLayout
  title="contact information Yeison Liscano"
  description="Yeison Liscano contact information"
>
  <h1>Contact Information</h1>
  <Code code={contactInfo} lang={"js"} wrap={true} />
</BaseLayout>
