<footer id="footer">
  <a href="https://www.linkedin.com/in/yeison-andrey-lice/">
    {"<linkedin\\>"}
  </a>
  <a href="https://github.com/YeisonAndreyLiCe">
    {"<github\\>"}
  </a>
  <p>© 2024, Yeison Liscano</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--code-background);
    color: var(--text);
    width: 100%;
    gap: 8px;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    color: var(--contrast);
  }

  @media screen and (min-width: 720px) {
    footer {
      flex-direction: row;
    }
  }
</style>
