---
import ThemeToggle from "components/ThemeToggle.astro";

interface Props {
  titles: string[];
}

const { titles } = Astro.props;
---

<header>
  <nav>
    <a href="/">|YALC|</a>
    <ul>
      {
        titles.map((title) => (
          <li>
            <a href={"/" + title.toLocaleLowerCase().replace(/\s/g, "-")}>
              {title}
            </a>
          </li>
        ))
      }
    </ul>
    <ThemeToggle />
  </nav>
</header>
<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const theme = getThemePreference();
  document.querySelector("html").setAttribute("data-theme", theme);
</script>

<style>
  header {
    background-color: var(--secondary);
    color: var(--contrast);
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style-type: none;
  }

  nav ul li a {
    color: var(--text-color);
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
    }
  }
</style>
