---
const { BASE_URL } = import.meta.env;
---

<section>
  <span> Hi, my name is </span>
  <h2><a href={BASE_URL + "about/"}>Yeison Liscano</a></h2>
  <p>
    I’m passionate about building innovative web applications and solving
    complex problems through technology. With expertise in full-stack
    development , I work with modern technologies like React, Node.js, Python,
    GraphQL, and AWS, delivering robust, scalable solutions. As a dedicated
    software engineer, I’m also an avid writer, sharing insights on web
    development, programming, data science, and the latest in technology.
  </p>
  <div>
    <button>
      <a href={BASE_URL + "posts/"}>Read Last Post</a>
    </button>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1000px;
    gap: 10px;
  }

  strong {
    color: var(--contrast);
    box-shadow: 0 0px 1px var(--contrast);
  }

  h2 a {
    color: var(--text-color);
    text-decoration: none;
  }

  h2 a:hover {
    text-decoration: underline;
  }

  span {
    font-size: 1.5rem;
    color: var(--contrast);
  }

  p {
    color: var(--text-color);
    margin: 8px 0;
  }

  button {
    padding: 10px;
    background-color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--contrast);
    transition: background-color 0.3s;
  }

  button a {
    color: var(--primary);
    text-decoration: none;
  }
</style>
