---
import Icon from "./Icon.astro";
---

<button id="theme-toggle">
  <span class="icon" id="icon-light"><Icon icon="sun" /></span>
  <span class="icon" id="icon-dark"><Icon icon="moon" /></span>
</button>
<script>
  const themeToggle = document.getElementById("theme-toggle");
  if (themeToggle) {
    themeToggle.addEventListener("click", window.theme.toggle);
  }
  const _html = document.querySelector("html");
  if (_html !== null) {
    const theme = window.theme.getPreference();
    _html.setAttribute("data-theme", theme);
  }
</script>

<style>
  button {
    display: flex;
    border: none;
    border-radius: 999rem;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
  }

  .icon {
    position: relative;
    display: flex;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 999rem;
  }

  html[data-theme="dark"] #icon-light {
    opacity: 0.5;
  }

  html[data-theme="dark"] #icon-dark {
    background-color: var(--contrast);
    box-shadow: 0 0 0 1px var(--contrast);
  }

  html[data-theme="light"] #icon-dark {
    opacity: 0.5;
  }

  html[data-theme="light"] #icon-light {
    background-color: var(--contrast);
    box-shadow: 0 0 0 1px var(--contrast);
  }

  @media (prefers-color-scheme: dark) {
    html[data-theme="dark"] #icon-light {
      opacity: 0.5;
    }

    html[data-theme="light"] #icon-dark {
      opacity: 0.5;
    }
  }

  @media screen and (min-width: 900px) {
    button {
      margin-left: unset;
      margin-top: unset;
    }
  }
</style>
