---
import "../styles/base.css";
import Aside from "components/Aside.astro";
import Footer from "components/Footer.astro";
import Head from "components/Head.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Aside titles={[]} />
    <div id="main-content">
      <section>
        <slot />
      </section>
    </div>
    <Footer />
  </body>
</html>

<style>
  #main-content {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-self: center;
    justify-self: center;
  }

  @media screen and (min-width: 720px) {
    #main-content {
      max-width: 720px;
    }
  }

  @media screen and (min-width: 900px) {
    #main-content {
      margin-left: 150px;
      margin-right: 50px;
    }
  }

  @media (min-width: 1300px) {
    #main-content {
      max-width: 1000px;
    }
  }
</style>
